.TrendingTodaySlider {
    @apply absolute top-2/4 -translate-y-2/4 right-0 w-2/4;
}

@media (max-width: 2400px) {
    .TrendingTodaySlider {
        height: 650px;
    }
}

@media (max-width: 2230px) {
    .TrendingTodaySlider {
        height: 600px;
    }
}

@media (max-width: 2000px) {
    .TrendingTodaySlider {
        height: 550px;
    }
}

@media (max-width: 1700px) {
    .TrendingTodaySlider {
        height: 500px;
    }
}

@media (max-width: 1550px) {
    .TrendingTodaySlider {
        height: 450px;
    }
}
@media (max-width: 1270px) {
    .TrendingTodaySlider {
        height: 600px;
    }
}

@media (max-width: 1160px) {
    .TrendingTodaySlider {
        top: 140px;
        right: unset;
        left: 30px;
        transform: translateY(0);
        height: 500px;
        width: 100%;
    }
}

@media (max-width: 1110px) {
    .TrendingTodaySlider {
        height: 450px;
    }
}

@media (max-width: 1024px) {
    .TrendingTodaySlider {
        height: 425px;
    }
}

@media (max-width: 950px) {
    .TrendingTodaySlider {
        height: 550px;
    }
}

@media (max-width: 876px) {
    .TrendingTodaySlider {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .TrendingTodaySlider {
        height: 450px;
    }
}

@media (max-width: 710px) {
    .TrendingTodaySlider {
        height: 700px;
    }
}

@media (max-width: 630px) {
    .TrendingTodaySlider {
        height: 650px;
    }
}

@media (max-width: 570px) {
    .TrendingTodaySlider {
        height: 550px;
    }
}

@media (max-width: 530px) {
    .TrendingTodaySlider {
        height: 500px;
    }
}

@media (max-width: 475px) {
    .TrendingTodaySlider {
        height: 460px;
    }
}

@media (max-width: 425px) {
    .TrendingTodaySlider {
        height: 500px;
    }
}
@media (max-width: 375px) {
    .TrendingTodaySlider {
        @apply left-2;
        height: 450px;
    }
}

@media (max-width: 325px) {
    .TrendingTodaySlider {
        height: 400px;
    }
}

@media (max-width: 311px) {
    .TrendingTodaySlider {
        height: 350px;
    }
}
