.TrendingTodaySlider {
  @apply absolute top-2/4 -translate-y-2/4 right-0 w-2/4;

  .MovieCard {
    -webkit-box-shadow: 0px -220px 60px -70px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0px -220px 60px -70px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0px -220px 60px -70px rgba(0, 0, 0, 0.8) inset;
    @apply relative rounded-2xl bg-cover bg-no-repeat bg-center h-full;

    img {
      @apply relative -z-50 rounded-2xl w-full;
      height: 100%;
    }
    svg {
      @apply w-5 h-5;

      path {
        @apply fill-yellow-400;
      }
    }

    .MovieDetails {
      @apply absolute bottom-3 left-3;

      max-width: 90%;
    }
  }

  .Genres {
    @apply pl-2 flex items-center flex-wrap before:absolute before:left-0 before:bg-slate-400 before:h-5 leading-3;

    &:before {
      width: 1px;
    }
  }
}

@media (max-width: 2400px) {
  .TrendingTodaySlider {
    height: 650px;
  }
}

@media (max-width: 2230px) {
  .TrendingTodaySlider {
    height: 600px;
  }
}

@media (max-width: 2000px) {
  .TrendingTodaySlider {
    height: 550px;
  }
}

@media (max-width: 1700px) {
  .TrendingTodaySlider {
    height: 500px;
  }
}

@media (max-width: 1550px) {
  .TrendingTodaySlider {
    height: 450px;
  }
}

@media (max-width: 1440px) {
  .TrendingTodaySlider {
    height: 400px;

    .MovieCard {
      -webkit-box-shadow: 0px -180px 60px -70px rgba(0, 0, 0, 0.8) inset;
      -moz-box-shadow: 0px -180px 60px -70px rgba(0, 0, 0, 0.8) inset;
      box-shadow: 0px -180px 60px -70px rgba(0, 0, 0, 0.8) inset;
    }
  }
}

@media (max-width: 1270px) {
  .TrendingTodaySlider {
    height: 600px;
  }
}

@media (max-width: 1160px) {
  .TrendingTodaySlider {
    top: 140px;
    right: unset;
    left: 30px;
    transform: translateY(0);
    height: 500px;
    width: 100%;
  }
}

@media (max-width: 1110px) {
  .TrendingTodaySlider {
    height: 450px;
  }
}

@media (max-width: 1024px) {
  .TrendingTodaySlider {
    height: 425px;
  }
}

@media (max-width: 950px) {
  .TrendingTodaySlider {
    height: 550px;
  }
}

@media (max-width: 876px) {
  .TrendingTodaySlider {
    height: 500px;
  }
}

@media (max-width: 850px) {
  .MovieDetails {
    h2 {
      @apply text-sm;
    }
  }
  .Rating {
    div {
      @apply text-sm;
    }
  }
}

@media (max-width: 768px) {
  .TrendingTodaySlider {
    height: 450px;
  }
}

@media (max-width: 710px) {
  .TrendingTodaySlider {
    height: 700px;
  }
}

@media (max-width: 630px) {
  .TrendingTodaySlider {
    height: 650px;
  }
}

@media (max-width: 570px) {
  .TrendingTodaySlider {
    height: 550px;
  }
}

@media (max-width: 530px) {
  .TrendingTodaySlider {
    height: 500px;
  }
}

@media (max-width: 475px) {
  .TrendingTodaySlider {
    height: 460px;
  }
}

@media (max-width: 425px) {
  .TrendingTodaySlider {
    height: 500px;
    .MovieCard {
      .MovieDetails {
        h2 {
          @apply text-sm;
        }
      }
    }
  }
  .Rating {
    div {
      @apply text-sm;
    }
  }
}

@media (max-width: 375px) {
  .TrendingTodaySlider {
    @apply left-2;
    height: 450px;
  }
}

@media (max-width: 325px) {
  .TrendingTodaySlider {
    height: 400px;
  }
}

@media (max-width: 311px) {
  .TrendingTodaySlider {
    height: 350px;
  }
}
