.Carousel {
    @apply relative w-full z-10 overflow-hidden;
    height: 750px;

    .slick-list {
        @apply h-full;
    }

    .slick-slide {
        > div {
            height: 100%;
        }
    }
}

.Slide {
    @apply h-full relative;

    > div {
        -webkit-box-shadow: 0px 0px 200px 150px rgba(28, 28, 28, 0.8) inset;
        -moz-box-shadow: 0px 0px 200px 150px rgba(28, 28, 28, 0.8) inset;
        box-shadow: 0px 0px 200px 150px rgba(28, 28, 28, 0.8) inset;
    }
}

.Details {
    @apply absolute bottom-24 left-20 max-w-2xl z-30;
}

.Buttons {
    @apply flex my-4 flex-wrap;

    button {
        @apply py-3 px-6 cursor-pointer;
    }

    span {
        @apply ml-5;
    }

    svg {
        @apply w-5 h-5;
    }

    .TrailerButton {
        @apply flex items-center justify-between mr-6 rounded-md bg-green-600 text-white font-bold hover:opacity-90;
    }
    .WatchButton {
        @apply flex items-center border-2 rounded-md border-slate-400 text-slate-200 font-bold transition-colors hover:bg-purple-900;

        &:hover {
            polygon {
                @apply fill-yellow-400;
            }
        }
    }
}

.Inner {
    @apply absolute z-50 bottom-0;
    height: 100px;

    .MiniCarousel {
        @apply h-full;

        div {
            @apply bg-black rounded-3xl;
        }
        img {
            display: inline;
            width: 100px;
            height: 100px;
        }
    }
}

@media (max-width: 1024px) {
    .Details {
        @apply max-w-xl left-10 bottom-12;

        h3 {
            @apply text-2xl;
        }
        p {
            @apply text-sm;
        }
        span {
            @apply text-sm;
        }
    }
    .Buttons {
        button {
            @apply py-2 px-4;
        }
    }
}

@media (max-width: 768px) {
    .Details {
        @apply left-6;

        h3 {
            @apply text-xl;
        }
        p {
            @apply text-xs;
        }
        span {
            @apply text-xs;
        }
    }
}

@media (max-width: 678px) {
    .Buttons {
        button {
            &:nth-child(3) {
                @apply mt-2;
            }
        }
    }
}

@media (max-width: 500px) {
    .Details {
        @apply left-5 mr-6;

        > div {
            @apply leading-4 mb-1
        }
    }
    .Buttons {
        span {
            margin-left: 0.3rem;
        }
    }
}

@media (max-width: 425px) {
    .Buttons {
        button {
            @apply px-2;
        }
    }
}

@media (max-width: 375px) {
    .Details {
        @apply left-3;
    }
    .Buttons {
        span {
            font-size: 0.6rem;
        }
    }
}