@media (min-width: 768px) {
  .MobileTablet {
    display: none;
  }
  .Overlay {
    @apply fixed top-0 left-0 w-full h-full;

    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
  }

  .LaptopDesktop {
    @apply hidden transition-colors flex-col border-gray-500 rounded-3xl p-6 fixed w-2/4 content-none top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4;
    z-index: 1001;
    background-color: #0d0c0f;
    border: 1px solid rgb(32, 32, 32);

    &.active {
      @apply flex;
    }
    .Details {
      div {
        @apply my-2 flex flex-col;

        label {
          @apply text-slate-200 mb-2;
        }
      }
      .policy {
        @apply text-gray-500 flex-row items-center;

        input {
          @apply rounded-3xl appearance-none cursor-pointer h-7 w-7;

          &:checked {
            background-color: green;
          }
        }

        span {
          @apply text-white;
        }

        label {
          @apply text-gray-500;
        }
      }
    }

    input {
      @apply bg-black rounded-lg py-2 px-3 text-slate-200;
      border: 1px solid rgb(32, 32, 32);
    }
  }

  .Logo {
    @apply flex items-center justify-between;
  }
}

@media (max-width: 768px) {
  .LaptopDesktop {
    display: none;
  }

  .Overlay {
    @apply hidden;
  }

  .MobileTablet {
    width: 100vw;
    height: 100vw;
    padding: 0 25px;
    background-color: #0d0c0f;

    @apply border-none translate-x-0 translate-y-0 static;

    .Details {
      @apply flex flex-col items-center;

      div {
        @apply flex flex-col w-full mb-3;
      }

      label {
        @apply text-slate-200 mb-2;
      }

      input {
        @apply bg-black rounded-lg py-2 px-3 text-slate-200;

        border: 1px solid rgb(32, 32, 32);
      }
    }
  }
  .Logo {
    display: none;
  }
}

.hidden {
  display: none;
}
