@media (min-width: 768px) {
    .MobileTablet {
        display: none;
    }
    .LaptopDesktop {
        .TVSeriesPlayer {
            @apply w-2/4 mx-10;

            height: 500px;
        }

        .Servers {
            @apply flex w-1/4 text-slate-200 pl-5;
        }

        .Episode {
            @apply py-1 pl-2 rounded-md text-slate-200 cursor-pointer w-3/4;

            background-color: #050405;

            &:nth-child(2n) {
                @apply bg-gray-800;
            }
        }

        @media (max-width: 1250px) {
            .TVSeriesPlayer {
                height: 400px;
            }
            .Servers {
                @apply flex-col;

                div {
                    @apply w-full m-0;
                }
            }
        }
        @media (max-width: 1000px) {
            .TVSeriesPlayer {
                @apply mx-4;

                height: 300px;
            }
        }
        @media (max-width: 768px) {
            .Servers {
                @apply pl-3;

                div {
                    @apply text-sm;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .LaptopDesktop {
        display: none;
    }
    .MobileTablet {
        @apply mx-5;
        .TVSeriesPlayer {
            @apply w-full;

            height: 400px;
        }
        .Servers {
            @apply flex w-2/4 text-slate-200 ml-5;
        }

        .Episode {
            @apply py-1 text-slate-200 cursor-pointer pl-3;

            background-color: #050405;

            &:nth-child(2n) {
                @apply bg-gray-800;
            }
        }
    }
}
@media (max-width: 600px) {
    .MobileTablet {
        .TVSeriesPlayer {
            height: 300px;
        }
    }
}
@media (max-width: 568px) {
    .MobileTablet {
        .Servers {
            @apply flex-col;
            div {
                @apply w-full;
            }
        }
    }
}
@media (max-width: 425px) {
    .MobileTablet {
        .TVSeriesPlayer {
            height: 250px;
        }
    }
}
@media (max-width: 325px) {
    .MobileTablet {
        .TVSeriesPlayer {
            height: 200px;
        }
        .Servers {
            div {
                @apply text-sm;

                button {
                    @apply px-0.5 py-1 w-full;
                }
            }
        }
    }
}