@media (min-width: 2300px) {
  .TVSeriesMobilePlayer {
    display: none;
  }
  .TVSeriesDeskLapPlayer {
    .Left {
      @apply flex w-1/4 text-slate-200 pl-5;
    }

    .Description {
      @apply w-2/4;
    }
  }
}
@media (min-width: 1000px) {
  .TVSeriesDeskLapPlayer {
    @apply flex;
    height: 600px;
    width: 100%;

    .Wrapper {
      @apply mx-5;
      width: 100%;
      height: 100%;
    }

    .SeasonsDropdown {
      @apply absolute top-8 flex flex-col z-50 w-full;

      background-color: #0d0c0f;
    }

    .Episode {
      @apply py-1 pl-2 rounded-md text-slate-200 cursor-pointer w-full;

      background-color: #363636;
    }
  }
}

@media (max-width: 2300px) {
  .TVSeriesMobilePlayer {
    display: none;
  }
  .TVSeriesDeskLapPlayer {
    @apply flex;

    .Left {
      @apply flex flex-col w-1/4 text-slate-200 pl-5;
    }

    .Description {
      @apply w-full;
    }

    .Servers {
      @apply w-full pt-2;
    }
  }
}

@media (max-width: 1000px) {
  .TVSeriesDeskLapPlayer {
    display: none;
  }
  .TVSeriesMobilePlayer {
    @apply flex flex-col;

    .Wrapper {
      width: 100vw;
      height: 400px;
    }

    .SeasonsDropdown {
      @apply absolute top-8 flex flex-col z-50 w-2/4;

      background-color: #0d0c0f;
    }
  }
  .LeftWrapper {
    @apply flex mt-5;
  }
  .Left {
    @apply flex w-2/4 text-slate-200 pl-5;

    .Description {
      @apply mr-3;
    }
  }
  .Seasons {
    @apply relative w-2/4 flex flex-col items-center;
  }

  .Episode {
    @apply py-1 border-2 border-slate-900 text-center text-slate-200 cursor-pointer;

    width: 16.6%;

    background-color: #363636;
  }
}
@media (max-width: 768px) {
  .TVSeriesMobilePlayer {
    .Left {
      @apply flex-col;

      .Description {
        @apply mr-0 mb-3;
      }
    }
  }
}
@media (max-width: 625px) {
  .Episode {
    width: 25%;
  }
}
@media (max-width: 425px) {
  .TVSeriesMobilePlayer {
    .LeftWrapper {
      @apply flex-col;
    }
    .Description {
      @apply mb-0;
    }
    .Left {
      @apply flex-col w-full pr-5;
    }
    .Seasons {
      @apply w-full;
    }
  }
}

.iframe {
  width: 100%;
  height: 100%;
}
