.TVSeries {
    @apply relative bg-cover bg-no-repeat bg-center;
  
    height: 100vh;
    -webkit-box-shadow: 0 -250px 100px 0 rgba(28, 28, 28, 0.8) inset;
    -moz-box-shadow: 0 -250px 100px 0 rgba(28, 28, 28, 0.8) inset;
    box-shadow: 0 -250px 100px 0 rgba(28, 28, 28, 0.8) inset;
  }
  
  .Details {
    @apply relative;
    top: -12rem;
    padding-left: 3rem;
  
    max-width: 95%;
  }
  
  .Buttons {
    @apply flex justify-between flex-wrap;
  
    .Right {
      @apply flex flex-wrap;
    }
  
    button {
      @apply py-3 px-5;
    }
  
    span {
      @apply ml-2;
    }
  
    svg {
      @apply w-5 h-5;
    }
  }
  @media (max-width: 1190px) {
    .Details {
      top: -15rem;
    }
  }
  @media (max-width: 1024px) {
    .TVSeries {
      -webkit-box-shadow: 0 -300px 60px 0 rgba(28, 28, 28, 0.7) inset;
      -moz-box-shadow: 0 -300px 60px 0 rgba(28, 28, 28, 0.7) inset;
      box-shadow: 0 -300px 60px 0 rgba(28, 28, 28, 0.7) inset;
    }
    .Details {
      @apply pl-6;
    }
  }
  @media (max-width: 768px) {
    .TVSeries {
      height: 600px;
  
      -webkit-box-shadow: 0 -200px 100px 0 rgba(28, 28, 28, 0.7) inset;
      -moz-box-shadow: 0 -200px 100px 0 rgba(28, 28, 28, 0.7) inset;
      box-shadow: 0 -200px 100px 0 rgba(28, 28, 28, 0.7) inset;
    }
    .Details {
      top: -13rem;
    }
    .Buttons {
      span {
        @apply text-sm;
      }
  
      a {
        @apply text-xs;
      }
  
      button {
        @apply py-2 px-3;
      }
    }
  }
  
  @media (max-width: 605px) {
    .Details {
      h3 {
        @apply text-2xl;
      }
  
      p {
        @apply text-xs;
      }
  
      span {
        @apply text-xs;
      }
    }
  }
  @media (max-width: 590px) {
    .Buttons {
      span {
        @apply m-1;
      }
    }
  }
  @media (max-width: 568px) {
    .Details {
      padding-left: 1.5rem;
    }
  }
  
  @media (max-width: 560px) {
    
  }
  @media (max-width: 425px) {
    .TVSeries {
        height: 450px;
    
        -webkit-box-shadow: 0 -100px 100px 0 rgba(28, 28, 28, 0.7) inset;
        -moz-box-shadow: 0 -100px 100px 0 rgba(28, 28, 28, 0.7) inset;
        box-shadow: 0 -100px 100px 0 rgba(28, 28, 28, 0.7) inset;
      }
    .Details {
      top: -6rem;
    }
  }
  @media (max-width: 375px) {
    .Details {
      padding-left: 1rem;
    }
  }
  