.Header {
    @apply absolute w-full z-30 flex justify-between px-24 py-8;

    -webkit-box-shadow: 0 170px 20px -55px rgb(12 12 12 / 50%) inset;
    -moz-box-shadow: 0 170px 20px -55px rgb(12 12 12 / 50%) inset;
    box-shadow: 0 170px 20px -55px rgb(12 12 12 / 50%) inset;
}

.Center {
    @apply flex items-center;

    div {
        @apply flex items-center px-4 text-slate-50 font-bold text-lg;
    }

    a {
        @apply hover:opacity-80;
    }
}
.Right {
    @apply relative flex items-center;

    div {
        @apply text-gray-300;

        button {
            @apply px-3 py-1 ml-2;
        }
    }

    svg {
        @apply mr-3;

        width: 30px;
        height: 30px;
    }
}

.Buttons {
    @apply flex;
}

.AvatarActive {
    @apply after:transition-all before:transition-all after:absolute after:-right-5 after:top-2/4 after:-translate-y-2/4 after:w-0.5 after:h-3 after:bg-white after:rotate-45 before:absolute before:-right-3 before:top-2/4 before:-translate-y-2/4 before:w-0.5 before:h-3 before:bg-white before:-rotate-45;
}
.Avatar {
    @apply after:transition-all before:transition-all cursor-pointer after:absolute after:-right-5 after:top-2/4 after:-translate-y-2/4 after:w-0.5 after:h-3 after:bg-white after:-rotate-45 before:absolute before:-right-3 before:top-2/4 before:-translate-y-2/4 before:w-0.5 before:h-3 before:bg-white before:rotate-45;
}

.Profile {
    @apply hidden;
}

.ProfileActive {
    @apply absolute top-10 -right-8 w-36 py-2 px-2 bg-slate-800;

    p {
        @apply py-1;
    }
}

@media (min-width: 768px) {
    .MobileTablet {
        @apply hidden;
    }
}

@media (max-width: 1400px) {
    .Header {
        @apply px-12;
    }
}
@media (max-width: 1024px) {
    .Header {
        @apply py-4;
    }
    .Right {
        div {
            button {
                @apply px-3 py-1.5 ml-2;
            }
        }
    }
    .Buttons {
        @apply flex-col;

        button {
            @apply mb-1 text-xs;
        }
    }
}
@media (max-width: 900px) {
    .Header {
        @apply pl-3 pr-3;
    }
    .Center {
        a {
            @apply text-center;
        }
    }
}
@media (max-width: 768px) {
    //NOTE - Burger
    .Header {
        -webkit-box-shadow: 0 170px 20px -85px rgba(12, 12, 12, 0.5) inset;
        -moz-box-shadow: 0 170px 20px -85px rgba(12, 12, 12, 0.5) inset;
        box-shadow: 0 170px 20px -85px rgba(12, 12, 12, 0.5) inset;
    }
    .Center {
        @apply hidden;
    }
    .AvatarActive {
        @apply after:w-0 before:w-0;
    }
    .Avatar {
        @apply after:w-0 before:w-0;
    }
    .LaptopDesktop {
        @apply hidden;
    }
    .Right {
        svg {
            @apply mr-3;
        }
    }
    .MobileTablet {
        @apply relative;
    }
    .Laptop {
        @apply hidden;
    }
}

@media (max-width: 500px) {
    .Header {
        @apply pl-4 pr-7;
    }
}
