.WatchListSlider {
    .MovieCard {
        @apply flex rounded-2xl bg-cover bg-no-repeat bg-center;

        img {
            @apply block mx-3 w-20 rounded-2xl;
        }
        svg {
            @apply w-5 h-5;
            path {
                @apply fill-yellow-400;
            }
        }

        .MovieDetails {
            @apply flex flex-col items-baseline max-w-7xl;

            .Genres {
                @apply flex;

                svg {
                    @apply max-w-full h-5;
                    path {
                        @apply fill-slate-400;
                    }
                }

                span {
                    display: inline-block;
                    font-size: 11px;
                }
            }

            .TitleType {
                @apply text-slate-400 pl-2 before:absolute before:left-0 before:bg-slate-400 before:h-6;

                &::before {
                    width: 1px;
                }
            }
        }
    }
}
