@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #0d0c0f;
}

.slick-list {
  @apply h-full;
}

.slick-track {
  @apply h-full m-0;
}

.slick-slide {
  > div {
    height: 100%;
  }
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next:after {
  font-size: 1.5rem;
  color: #ffffffa2;
}
.swiper-button-next:after {
  content: 'ï¹¥';
}

.swiper-button-next {
  width: 40px;
  background: #404040;
  border-radius: 50%;
}

.swiper-button-next.swiper-button-disabled {
  opacity: 0
}
