.Show {
    @apply relative bg-cover bg-no-repeat bg-center;

    height: 100vh;
    -webkit-box-shadow: 0 -100px 200px 200px rgba(28, 28, 28, 0.8) inset;
    -moz-box-shadow: 0 -100px 200px 200px rgba(28, 28, 28, 0.8) inset;
    box-shadow: 0 -100px 200px 200px rgba(28, 28, 28, 0.8) inset;
}

.Details {
    @apply relative;
    top: -13rem;
    padding-top: -40px;
    padding-left: 3rem;

    max-width: 95%;
}

.Buttons {
    @apply flex justify-between flex-wrap;

    .Right {
        @apply flex flex-wrap;
    }

    button {
        @apply py-3 px-5;
    }

    span {
        @apply ml-5;
    }

    svg {
        @apply w-5 h-5;
    }
}

@media (max-width: 1440px) {
    .Show {
        -webkit-box-shadow: 0 -100px 200px 200px rgba(28, 28, 28, 0.8) inset;
        -moz-box-shadow: 0 -100px 200px 200px rgba(28, 28, 28, 0.8) inset;
        box-shadow: 0 -100px 200px 200px rgba(28, 28, 28, 0.8) inset;
    }
}
@media (max-width: 1190px) {
    .Details {
        top: -16rem;
    }
}
@media (max-width: 1024px) {
    .Show {
        -webkit-box-shadow: 0 -70px 100px 150px rgba(28, 28, 28, 0.8) inset;
        -moz-box-shadow: 0 -70px 100px 150px rgba(28, 28, 28, 0.8) inset;
        box-shadow: 0 -70px 100px 150px rgba(28, 28, 28, 0.8) inset;
    }
    .Details {
        @apply pl-6;
    }
}
@media (max-width: 768px) {
    .Show {
        -webkit-box-shadow: 0 -100px 100px 100px rgba(28, 28, 28, 0.8) inset;
        -moz-box-shadow: 0 -100px 100px 100px rgba(28, 28, 28, 0.8) inset;
        box-shadow: 0 -100px 100px 100px rgba(28, 28, 28, 0.8) inset;
    }
    .Details {
        top: -14rem;
    }
    .Buttons {
        span {
            @apply text-sm;
        }

        button {
            @apply py-2 px-3;
        }
    }
}

@media (max-width: 605px) {
    .Details {
        top: -17rem;

        h3 {
            @apply text-xl;
        }
    }
}
@media (max-width: 590px) {
    .Details {
        top: -16rem;
    }
    .Buttons {
        span {
            @apply m-1;
        }
    }
}
@media (max-width: 568px) {
    .Details {
        top: -14rem;
    }
}

@media (max-width: 560px) {
    .Show {
        -webkit-box-shadow: 0 -70px 100px 100px rgba(28, 28, 28, 0.8) inset;
        -moz-box-shadow: 0 -70px 100px 100px rgba(28, 28, 28, 0.8) inset;
        box-shadow: 0 -70px 100px 100px rgba(28, 28, 28, 0.8) inset;
    }
}
@media (max-width: 528px) {
    .Details {
        top: -15.5rem;
    }
}
@media (max-width: 390px) {
    .Show {
        -webkit-box-shadow: 0 -50px 100px 60px rgba(28, 28, 28, 0.8) inset;
        -moz-box-shadow: 0 -50px 100px 60px rgba(28, 28, 28, 0.8) inset;
        box-shadow: 0 -50px 100px 60px rgba(28, 28, 28, 0.8) inset;
    }
    .Details {
        top: -7.5rem;
    }
}
@media (max-width: 307px) {
    .Details {
        top: -9rem;
    }
}
