.Show {
    @apply relative bg-cover bg-no-repeat bg-center;

    height: 100vh;
    -webkit-box-shadow: 0px -400px 100px 0px rgba(28, 28, 28, 0.8) inset;
    -moz-box-shadow: 0px -400px 100px 0px rgba(28, 28, 28, 0.8) inset;
    box-shadow: 0px -400px 100px 0px rgba(28, 28, 28, 0.8) inset;
}

.Details {
    padding-top: 60vh;
    padding-left: 4rem;

    max-width: 95%;

    .Buttons {
        @apply flex justify-between my-4;

        button {
            @apply py-3 px-5;
        }

        span {
            @apply ml-5;
        }

        svg {
            @apply w-5 h-5;
        }
    }
}
